#search-input {
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid white 1px;
    border-radius: 5px;
    height: 20px;
    text-align: center;
}

.causes {
    background-color: white;
    margin-top: 20px;
}

.listTest {
    display: none
}