html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(0, 43, 54);
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #839496;
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
}

/*Navbar Colour*/
.navbar.bg-color {
    background-color: #063642;
}

/*Footer Colour*/
.footer{
    background-color: #063642;
}

/*Input Fields Colour*/
input {
    background-color: #A9BDBD;
}

.form-control {
    background-color: #A9BDBD;
    border-color: #A9BDBD;
}

/*Primary button*/
.btn-primary {
    background-color: #B58900;
    border-color: #B58900;
    color: #fff;
}

/*Secondary Color*/
.btn-secondary {
    background-color: #6C757D;
    border-color: #6C757D;
    color: #fff;
}
