@{
    ViewData["Title"] = "Browse Causes";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/browse_causes.css">
</head>
<body>
    <div class="text-center">
        <h1>Browse Causes</h1>
    </div>
    <div>
        <input id="search-input" class="form-control me-sm-2" type="search" placeholder="SEARCH" />
    </div>
    <div id="causes-list">
        <div id="cause">

        </div>
    </div>

    <script src="~/js/browse_causes.js"></script>

</body>
</html>
