@{
    ViewData["Title"] = "Browse Causes";
}
@model List<Vote_with_Your_Wallet.Data.Cause>;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/browse_causes.css">
</head>
<body>
    <div class="text-center">
        <h1>Browse Causes</h1>
    </div>
    <div>
        <input id="search-input" class="form-control me-sm-2" type="search" placeholder="SEARCH" />
    </div>
    <div id="causes-list">
        <div id="cause">
            <table class="table table-bordered" style="color: white">
                <thead >
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Creator</th>
                </thead>
                <tbody>
                    @foreach (var cause in Model)
					{
						<tr>
							<td>@cause.Id</td>
							<td>@cause.Name</td>
							<td>@cause.Description</td>
                            <td>@cause.UserName</td>
                        </tr>
					}
                </tbody>
            </table>

        </div>
    </div>


    @*<script src="~/js/browse_causes.js"></script>*@

</body>
</html>



