@{
    ViewData["Title"] = "Vote with your Wallet";
}



<div class="text-center">
    <h1>Welcome to Vote with your Wallet!</h1>
    <p>At Ethical Signatures, we believe in the power of
    collective action to bring about change.
    Our web app enables you to publicly express your objection to unethical business and political
    practices by adding your signature
    to causes created by other members or creating your own.</p>

</div>

