@{
    ViewData["Title"] = "My Causes";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/browse_causes.css">
</head>
<body>
    <div class="text-center">
        <h1>My Causes</h1>
    </div>
    <div id="causes-list">
        <div id="myCause">

        </div>
    </div>

    <script src="~/js/myCauses.js"></script>
</body>
</html>
